/* core stylesheets */

img, video, iframe {
  max-width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
}

/* googlefonts icons */
.material-symbols-rounded {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 1.9rem;
  user-select: none;
  cursor: pointer;
  padding: 0 7.6px;
  -webkit-transition: 0.95s;
  -moz-transition: 0.95s;
  -o-transition: 0.95s;
  transition: 0.95s;
}
.material-symbols-rounded:hover {
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 24;
  color: #bbbbbb;
}

#specialBanner {
  /* please note that these are the default values. to programmatically modify them, please use banner.js */
  font-family: "Poppins", "Noto Sans JP", sans-serif !important;
  padding: 19px 38px;
  background-color: #161224;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  position: relative;
  display: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* uncomment these below if the background colors contradict with default <a> colors, comment if otherwise */
/*
#specialBanner > a:link, a:visited {
  color: #ffffff;
}
#specialBanner > a:hover {
  color: #bbbbbb;
}
#specialBanner > a:active {
  color: #dddddd;
}
*/

header {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 1900;
  padding: 19px 38px;
  background: linear-gradient(#ff0000a0, #00000000);
  /*
  background-image: url("/assets/images/background/nyoRed.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  */
}
.flexNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.linkRefs {
  display: flex;
  justify-content: right;
  align-items: center;
}
#mobile-navPanel {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 3800;
  padding: 28.5px 38px 19px 38px;
  background-color: #161224;
  text-align: right;
  box-shadow: 0 9.5px 19px #ff0000a0;
  -webkit-transition: 0.95s;
  -moz-transition: 0.95s;
  -o-transition: 0.95s;
  transition: 0.95s;
  transform: translateY(-19rem);
  background-image: url("/assets/images/background/nyoBG.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.closeNav {
  margin-left: 19px;
}

footer {
  background-color: #161224;
  padding: 19px 38px;
  overflow: auto;
}
.footText {
  font-weight: 200;
  font-size: small !important;
  margin: 0 9.5px;
}
.footText > a:link, a:visited {
  color: #ffffff;
}
.footText > a:hover, a:active {
  color: #dcc6bb;
}

button {
  background-color: #161224;
  border: solid 2.85px #ff0000;
  border-radius: 1900px;
  color: inherit;
  padding: 11.875px 28.5px;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  text-decoration: none;
  margin: 9.5px 1.9px 28.5px 1.9px;
  cursor: pointer;
  -webkit-transition: 0.475s;
  -moz-transition: 0.475s;
  -o-transition: 0.475s;
  transition: 0.475s;
}
button:hover {
  background-color: #ff0000;
  border: solid 2.85px #06a8ff;
}
button:active {
  background-color: #ffffff;
  border: solid 2.85px #06a8ff;
  color: #ff0000;
  -webkit-transition: 0.19s;
  -moz-transition: 0.19s;
  -o-transition: 0.19s;
  transition: 0.19s;
}